html,body{
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: white;
    min-height: 100%;
}

article{
	background-image: linear-gradient(to bottom, #000a1d 30%, #24206C, #88D9FF, #FFF 80%);
	background-size: 100% 500%;
	background-position: 100% 0%;
	transition: all 1s;
}

.toggle-day{
	background-position: 100% 100%;
	color: #000;
}

#canvas{
    position: absolute;
    z-index:10;
}

#aaa{
    position: absolute;
    z-index:200;
    width: 100%;
}

.center{
    margin: 0 auto;
    width: 17%;
    margin-top: 177px;
    margin-bottom: 77px;
}

.T1{
    margin: 0;
    display: table-cell;
    vertical-align: middle;
    text-align: center !important;
    letter-spacing: 2px;
    font-size: 55px;
    font-weight: 400;
    text-transform: uppercase;
}

header{
    height: calc(100% - 65px);
    -webkit-appearance: 1500px;
    perspective: 1500px;
    perspective-origin: center bottom;
}

.hero{
    position: relative;
    background: #000a1d;
    background-size: cover;
    height: 100%;
    width: 100%;
    transform-origin: 50% 100%;
    transform-style: preserve-3d;
}

.hero .overlay{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}

nav{
    background: #000a1d;
}

nav.fixed{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.stick-wrapper{
    height: 65px;
}

nav .container{
    list-style: none;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 30px;
}

nav .container .btn{
    display: inline-block;
}

nav .container a{
    height: 65px;
    line-height: 65px;
    padding: 10px 15px;
    color: #a1a1a1;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
}

section{
    height: 100%;
    width: 100%;
    display: table;
}

section#item1{
    background: #000a1d;
    font-family: sana-serif;
}

section#item2{
    /* background-image: url(img/hero.jpg); */
    background-size: cover;
    background: #000a1d;
    font-family: sans-serif;
}

.glass{
    padding-top: 90px;
    margin: 0 auto;
    width: 207px;
}

section#item3{
  background: #000a1d;
  background-size: cover;
  font-family: sans-serif;
}

.motoko{
    animation: floating 3.7s infinite ease-in-out;
    position: relative;
    left: 85%;
}

@keyframes floating{
    50%{
        transform: translateY(-60px);
    }
}

/* Lydia Lei 首页发光字 */
.font-light{
    color: #222;
    font-size: 4em;
    font-weight: 500;
    letter-spacing: 5px;
    cursor: pointer;
    text-align: center;
    padding-top: 157px;
    margin-bottom: 0;
}

.font-light span{
    transition: .5s;
}

.font-light:hover span:nth-child(1){
    margin-right: 7px;
}

.font-light:hover span:nth-child(2)::after{
    content: "Lei";
}

.font-light:hover span:nth-child(2){
    margin-left: 35px;
}

.font-light:hover span{
    color: #fff;
    text-shadow: 0 0 10px #00f,
                 0 0 20px #00f,
                 0 0 30px #00f,
                 0 0 80px #00f,
                 0 0 120px #00f;
}
/* Lydia Lei 首页发光字-end */

/* 顶部发光按钮 */
.container{
	width: 800px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.container .btn{
	position: relative;
	padding-left: 20px;
	width: 100px;
	height: 27px;
	margin: 20px;
	z-index: 3000;
}
.container .btn a{
	text-decoration: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255,255,255,0.05);
	box-shadow: 0 15px 35px rgba(0,0,0,0.2);
	border-top: 1px solid rgba(255,255,255,0.1);
	border-bottom: 1px solid rgba(255,255,255,0.1);
	border-radius: 30px;
	color: #fff;
	z-index: 1;
	font-weight: 400;
	letter-spacing: 1px;
	overflow: hidden;
	transition: 0.5s;
	backdrop-filter: blur(20px);
}
.container .btn:hover a{
  	letter-spacing: 3px;
}
.container .btn a::before{
	content:'';
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: linear-gradient(to left,rgba(255,255,255,0.15),transparent);
	transform: skew(45deg) translateX(0);
	transition: 0.5s;
}

.container .btn:hover a::before{
  	transform: skew(45deg) translateX(100px);
}

.container .btn::before{
	content: '';
	position: absolute;
	left: 50%;
	width: 30px;
	height: 10px;
	bottom: -5px;
	transform:translateX(-50%);
	background-color: #00f;
	border-radius: 10px;
	transition: 0.5s;
}

.container .btn:hover:before{
	bottom: 0px;
	width: 80%;
	height: 50%;
	border-radius: 30px;
}

.container .btn::after{
	content: '';
	position: absolute;
	left: 50%;
	width: 30px;
	height: 10px;
	top: -5px;
	transform:translateX(-50%);
	background-color: #00f;
	border-radius: 10px;
	transition: 0.5s;
}

.container .btn:hover:after{
	top: 0px;
	width: 80%;
	height: 50%;
	border-radius: 30px;
}

.container .btn:nth-child(1)::before,
.container .btn:nth-child(1)::after{
	background-color: #ff1f71;
	box-shadow: 0 0 5px #ff1f71,
				0 0 15px #ff1f71,
				0 0 30px #ff1f71,
				0 0 60px #ff1f71;
}

.container .btn:nth-child(2)::before,
.container .btn:nth-child(2)::after{
	background-color: #2bd2ff;
	box-shadow: 0 0 5px #2bd2ff,
				0 0 15px #2bd2ff,
				0 0 30px #2bd2ff,
				0 0 60px #2bd2ff;
}

.container .btn:nth-child(3)::before,
.container .btn:nth-child(3)::after{
	background-color: #11ff45;
	box-shadow: 0 0 5px #11ff45,
				0 0 15px #11ff45,
				0 0 30px #11ff45,
				0 0 60px #11ff45;
}

/* 返回顶部的Top */
.rocket-button {
    --background: #262730;
    --text: #fff;
    --check: #5c86ff;
    --blue: #5c86ff;
    --blue-transparent: rgba(92, 134, 255, 0);
    --dot: #fe5151;
    --dot-shadow: rgba(254, 81, 81, 0.3);
    --smoke: rgba(247, 248, 255, 0.9);
    --rocket: #eef0fd;
    --rocket-shadow-left: #fff;
    --rocket-shadow-right: #d3d4ec;
    --rocket-wing-right: #c2c3d9;
    --rocket-wing-left: #d3d4ec;
    --rocket-window: #275efe;
    --rocket-window-shadow: #c2c3d9;
    --rocket-line: #9ea0be;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    padding: 14px 28px;
    display: table;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-decoration: none;
    color: var(--text);
    position: fixed;
    right: 7px;
    bottom: 77px;
    z-index: 201;
}
.rocket-button:before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform 0.2s ease;
    transform: scale(var(--s, 1)) translateZ(0);
    position: absolute;
    background: var(--background);
}
.rocket-button .default,
.rocket-button .success,
.rocket-button .animation {
    z-index: 1;
}
.rocket-button .default span,
.rocket-button .success span {
    display: block;
    transition: transform 0.2s ease, opacity 0.2s ease;
    transform: translateX(var(--x, 0));
    opacity: var(--o, 1);
    filter: blur(var(--b, 0px));
}
.rocket-button .default {
    position: relative;
    display: flex;
}
.rocket-button .default:before {
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin: 7px 8px 0 0;
    box-shadow: 0 0 0 1px var(--dot-shadow);
    -webkit-animation: pulse 1s ease infinite;
    animation: pulse 1s ease infinite;
    vertical-align: top;
    display: inline-block;
    transition: opacity 0.3s linear;
    opacity: var(--o, 1);
    background: var(--dot);
}
.rocket-button .success {
    opacity: var(--o, 0);
    position: absolute;
    display: flex;
    top: 14px;
    left: 50%;
    transform: translateX(-50%);
}
.rocket-button .success svg {
    width: 13px;
    height: 11px;
    stroke-width: 2;
    stroke-dasharray: 20px;
    stroke-dashoffset: var(--o, 20px);
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    display: block;
    color: var(--check);
    margin: 4px 8px 0 0;
}
.rocket-button .success > div {
    display: flex;
}
.rocket-button .success > div span {
    --o: 0;
    --x: 8px;
    --b: 2px;
}
.rocket-button .animation {
    left: 0;
    right: 0;
    bottom: 0;
    height: 120px;
    pointer-events: none;
    overflow: hidden;
    position: absolute;
}
.rocket-button .animation .smoke {
    left: 50%;
    top: 100%;
    position: absolute;
}
.rocket-button .animation .smoke i {
    opacity: 0;
    transform: scale(0.7);
    border-radius: 50%;
    position: absolute;
    bottom: var(--b, -20px);
    left: var(--l, -12px);
    width: var(--s, 32px);
    height: var(--s, 32px);
    background: var(--smoke);
}
.rocket-button .animation .smoke i:nth-child(2) {
    --s: 20px;
    --l: -24px;
    --b: -10px;
    --d: 50ms;
}
.rocket-button .animation .smoke i:nth-child(3) {
    --s: 22px;
    --l: 0;
    --b: -12px;
    --d: 20ms;
}
.rocket-button .animation .smoke i:nth-child(4) {
    --s: 12px;
    --l: 16px;
    --b: -6px;
    --d: 120ms;
}
.rocket-button .animation .smoke i:nth-child(5) {
    --s: 24px;
    --l: -20px;
    --b: -14px;
    --d: 80ms;
}
.rocket-button .animation .smoke i:nth-child(6) {
    --s: 12px;
    --l: -28px;
    --b: -8px;
    --d: 60ms;
}
.rocket-button .animation .rocket {
    position: absolute;
    left: 50%;
    top: 100%;
    z-index: 1;
    margin: 0 0 0 -12px;
}
.rocket-button .animation .rocket:before {
    content: "";
    margin-left: -3px;
    left: 50%;
    top: 32px;
    position: absolute;
    width: 6px;
    border-radius: 2px;
    height: 32px;
    transform-origin: 50% 0;
    transform: scaleY(0.5);
    background: linear-gradient(var(--blue), var(--blue-transparent));
}
.rocket-button .animation .rocket svg {
    width: 24px;
    height: 36px;
    display: block;
}
.rocket-button:active {
    --s: .95;
}
.rocket-button.live:before {
    -webkit-animation: shake 1.5s ease 0.6s;
    animation: shake 1.5s ease 0.6s;
}
.rocket-button.live .default:before {
    --o: 0;
}
.rocket-button.live .default span {
    --o: 0;
    --x: 8px;
    --b: 2px;
    transition: transform 0.3s ease var(--d), opacity 0.3s ease var(--d), filter 0.3s ease var(--d);
}
.rocket-button.live .success {
    --o: 1;
}
.rocket-button.live .success span {
    --o: 1;
    --x: 0;
    --b: 0;
    transition: transform 0.3s ease calc(var(--d) + 2200ms), opacity 0.3s ease calc(var(--d) + 2200ms), filter 0.3s ease calc(var(--d) + 2200ms);
}
.rocket-button.live .success svg {
    --o: 0;
    transition: stroke-dashoffset 0.3s ease 2.25s;
}
.rocket-button.live .animation .rocket {
    -webkit-animation: rocket 2s ease forwards 0.4s;
    animation: rocket 2s ease forwards 0.4s;
}
.rocket-button.live .animation .rocket:before {
    -webkit-animation: rocket-light 2s ease forwards 0.4s;
    animation: rocket-light 2s ease forwards 0.4s;
}
.rocket-button.live .animation .smoke i {
    -webkit-animation: var(--n, smoke) 1.7s ease forwards calc(var(--d) + 600ms);
    animation: var(--n, smoke) 1.7s ease forwards calc(var(--d) + 600ms);
}
.rocket-button.live .animation .smoke i:nth-child(3), .rocket-button.live .animation .smoke i:nth-child(6) {
    --n: smoke-alt;
}
  
@-webkit-keyframes pulse {
    50% {
		box-shadow: 0 0 0 2px var(--dot-shadow);
    }
}
  
@keyframes pulse {
    50% {
        box-shadow: 0 0 0 2px var(--dot-shadow);
    }
}
@-webkit-keyframes shake {
    8%, 24%, 40%, 56%, 72%, 88% {
        transform: translateX(-1px);
    }
    16%, 32%, 48%, 64%, 80%, 96% {
        transform: translateX(1px);
    }
}
@keyframes shake {
    8%, 24%, 40%, 56%, 72%, 88% {
        transform: translateX(-1px);
    }
    16%, 32%, 48%, 64%, 80%, 96% {
        transform: translateX(1px);
    }
}
@-webkit-keyframes smoke {
    20%, 80% {
        opacity: 1;
        transform: scale(1);
    }
    55% {
        transform: scale(0.92);
    }
}
@keyframes smoke {
    20%, 80% {
		opacity: 1;
		transform: scale(1);
    }
    55% {
        transform: scale(0.92);
    }
}
@-webkit-keyframes smoke-alt {
    20%, 80% {
        opacity: 1;
        transform: scale(1);
    }
    60% {
        transform: scale(1.08);
    }
}
@keyframes smoke-alt {
    20%, 80% {
        opacity: 1;
        transform: scale(1);
    }
    60% {
        transform: scale(1.08);
    }
}
@-webkit-keyframes rocket {
    35% {
        transform: translateY(-56px);
    }
    80% {
        transform: translateY(-48px);
        opacity: 1;
    }
    100% {
        transform: translateY(-108px) scale(0.6);
        opacity: 0;
    }
}
@keyframes rocket {
    35% {
        transform: translateY(-56px);
    }
    80% {
        transform: translateY(-48px);
        opacity: 1;
    }
    100% {
        transform: translateY(-108px) scale(0.6);
        opacity: 0;
    }
}
@-webkit-keyframes rocket-light {
    35% {
        transform: scaleY(0.6);
    }
    75% {
        transform: scaleY(0.5);
    }
    100% {
        transform: scaleY(1);
    }
}
@keyframes rocket-light {
    35% {
        transform: scaleY(0.6);
    }
    75% {
        transform: scaleY(0.5);
    }
    100% {
        transform: scaleY(1);
    }
}

/* 返回顶部的Top-end */

/* 滑动文件 */
.toc {
    position: fixed;
	left: 7em;
	top: 13em;
	padding: 1em;
	width: 10em;
	line-height: 2;
    height: 65px;
}
.toc ul {
	list-style: none;
	padding: 0;
	margin: 0;
  
}
.toc ul ul {
	padding-left: 2em;
}
.toc li a {
	display: inline-block;
	color: #999;
	text-decoration: none;
	transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}
.toc li.visible > a {
	color: #fff;
	transform: translate(5px);
}

.toc-marker {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 370%;
	z-index: -1;
}
.toc-marker path {
	transition: all 0.3s ease;
}

.contents {
  	padding: 0 1.3em 1.3em 1.3em;
  	max-width: 970px;
	  font-size: 1.2em;
	  font-family: "Frank Ruhl Libre", sans-serif;
    margin: 0 auto;
}
.contents img {
	max-width: 100%;
}
.contents .code-block {
	white-space: pre;
	overflow: auto;
	max-width: 100%;
}
.contents .code-block code {
	display: block;
	background-color: #fff;
	padding: 10px;
}
.contents .code-inline {
	background-color: #fff;
	padding: 4px;
}
.contents h2,
.contents h3 {
	/* padding-top: 1em; */
}

@media screen and (max-width: 1200px) {
  	body {
    		font-size: 15px;
	  }
    .article-contecns{
        max-width: 577px;
    }
}

/* 底部联系我icon */
.wrapper-icons{
    width: 100%;
    text-align:center;
}

.icons{
    display: inline-flex;
    height: 77%;
}

.icons a{
    margin: 0 25px;
    text-decoration: none;
    color: #fff;
    display: block;
    position: relative;
}

.icons a .layer{
    width: 55px;
    height: 55px;
    transition: transform 0.3s;
}

.icons a:hover .layer{
    transform: rotate(-35deg) skew(20deg);
}

.icons a .layer span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 1px solid #fff;
    border-radius: 5px;
    transition: all .3s;
}

.icons a .layer span.fab{
    font-size: 30px;
    line-height: 55px;
    text-align: center;
}

.icons a:hover .layer span:nth-child(1){
    opacity: 0.2;
}

.icons a:hover .layer span:nth-child(2){
    opacity: 0.4;
    transform: translate(5px, -5px);
}

.icons a:hover .layer span:nth-child(3){
    opacity: 0.6;
    transform: translate(10px, -10px);
}

.icons a:hover .layer span:nth-child(4){
    opacity: 0.8;
    transform: translate(15px, -15px);
}

.icons a:hover .layer span:nth-child(5){
    opacity: 1;
    transform: translate(20px, -20px);
}

.icons a:hover .layer span:nth-child(6){
    opacity: 1;
    transform: translate(20px, -20px);
}

.icons a:nth-child(1) .layer span,
.icons a:nth-child(1) .text{
    color: #4267B2;
    border-color: #4267B2;
}

.icons a:nth-child(2) .layer span,
.icons a:nth-child(2) .text{
    color: #1DA1F2;
    border-color: #1DA1F2;
}

.icons a:nth-child(3) .layer span,
.icons a:nth-child(3) .text{
    color: #E1306C;
    border-color: #E1306C;
}

.icons a:nth-child(4) .layer span,
.icons a:nth-child(4) .text{
    color: #2867B2;
    border-color: #2867B2;
}

.icons a:nth-child(5) .layer span,
.icons a:nth-child(5) .text{
    color: #6d56c9;
    border-color: #6d56c9;
}

.icons a:nth-child(6) .layer span,
.icons a:nth-child(6) .text{
    color: #1DA1F2;
    border-color: #1DA1F2;
}

.icons a:nth-child(1) .layer span{
    box-shadow: -1px 1px 3px #4267B2;
}

.icons a:nth-child(2) .layer span{
    box-shadow: -1px 1px 3px #1DA1F2;
}

.icons a:nth-child(3) .layer span{
    box-shadow: -1px 1px 3px #E1306C;
}

.icons a:nth-child(4) .layer span{
    box-shadow: -1px 1px 3px #4267B2;
}

.icons a:nth-child(5) .layer span{
    box-shadow: -1px 1px 3px #6d56c9;
}

.icons a:nth-child(6) .layer span{
    box-shadow: -1px 1px 3px #1DA1F2;
}

.icons a .text{
    position: absolute;
    left: 50%;
    bottom: -5px;
    opacity: 0;
    transform: translateX(-50%);
    transition: bottom .3s ease, opacity .3s ease;
}

.icons a:hover .text{
    bottom: -35px;
    opacity: 1;
}

/* day and night btn */
.btn-day-night-wrapper {
	top: 110px;
    text-align: center;
    position: relative;
    right: -90%;
    width: 1px;
}

.toggle {
	position: relative;
	display: inline-block;
	width: 100px;
	padding: 4px;
	border-radius: 40px;
}

.toggle:before,
.toggle:after {
	content: "";
	display: table;
}

.toggle:after {
	clear: both;
}

.toggle-bg {
	position: absolute;
	top: -4px;
	left: -4px;
	width: 100%;
	height: 100%;
	background-color: #C0E6F6;
	border-radius: 40px;
	border: 4px solid #81C0D5;
	transition: all 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.toggle-input {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 1px solid red;
	border-radius: 40px;
	z-index: 2;
	opacity: 0;
}

.toggle-switch {
	position: relative;
	width: 40px;
	height: 40px;
	margin-left: 50px;
	background-color: #F5EB42;
	border: 4px solid #E4C74D;
	border-radius: 50%;
	transition: all 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.toggle-switch-figure {
	position: absolute;
	bottom: -14px;
	left: -50px;
	display: block;
	width: 80px;
	height: 30px;
	border: 8px solid #D4D4D2;
	border-radius: 20px;
	background-color: #fff;
	transform: scale(0.4);
	transition: all 0.12s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.toggle-switch-figure:after {
	content: "";
	display: block;
	position: relative;
	top: -65px;
	right: -42px;
	width: 15px;
	height: 15px;
	border: 8px solid #D4D4D2;
	border-radius: 100%;
	border-right-color: transparent;
	border-bottom-color: transparent;
	transform: rotateZ(70deg);
	background-color: #fff;
}

.toggle-switch-figure:before {
	content: "";
	display: block;
	position: relative;
	top: -25px;
	right: -10px;
	width: 30px;
	height: 30px;
	border: 8px solid #D4D4D2;
	border-radius: 100%;
	border-right-color: transparent;
	border-bottom-color: transparent;
	transform: rotateZ(30deg);
	background-color: #fff;
}

.toggle-switch-figureAlt {
	content: "";
	position: absolute;
	top: 5px;
	left: 2px;
	width: 2px;
	height: 2px;
	background-color: #EFEEDA;
	border-radius: 100%;
	border: 4px solid #DEE1C5;
	box-shadow: 42px -7px 0 -3px #FCFCFC, 75px -10px 0 -3px #FCFCFC, 54px 4px 0 -4px #FCFCFC, 83px 7px 0 -2px #FCFCFC, 63px 18px 0 -4px #FCFCFC, 44px 28px 0 -2px #FCFCFC, 78px 23px 0 -3px #FCFCFC;
	transition: all 0.12s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	transform: scale(0);
}

.toggle-switch-figureAlt:before {
	content: "";
	position: absolute;
	top: -6px;
	left: 18px;
	width: 7px;
	height: 7px;
	background-color: #EFEEDA;
	border-radius: 100%;
	border: 4px solid #DEE1C5;
}

.toggle-switch-figureAlt:after {
	content: "";
	position: absolute;
	top: 19px;
	left: 15px;
	width: 2px;
	height: 2px;
	background-color: #EFEEDA;
	border-radius: 100%;
	border: 4px solid #DEE1C5;
}

.toggle-input:checked ~ .toggle-switch {
	margin-left: 0;
	border-color: #DEE1C5;
	background-color: #FFFDF2;
}

.toggle-input:checked ~ .toggle-bg {
	background-color: #484848;
	border-color: #202020;
}

.toggle-input:checked ~ .toggle-switch .toggle-switch-figure {
	margin-left: 40px;
	opacity: 0;
	transform: scale(0.1);
}

.toggle-input:checked ~ .toggle-switch .toggle-switch-figureAlt {
	transform: scale(1);
}

/* 头像 */
#jeangrey{
	position: relative;
	left: 80%;
	display: inline-block;
}

.container-about {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	position: relative;
	margin: 0 auto;
	overflow: hidden;
	z-index: 7;
}

#jeangrey .container-about {
	background: #fff;
	border: 2px solid rgb(252, 247, 1);
}
#jeangrey .body {
	position: absolute;
	width: 100px;
	height: 150px;
	background: #61AE71;
	top: 130px;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 40px;
	z-index: 1;
	overflow: hidden;
}
#jeangrey .body:before {
	content: "";
	position: absolute;
	top: -3px;
	left: 50%;
	transform: translateX(-50%);
	background: #F0BEAF;
	width: 100%;
	height: 20px;
	border-radius: 100%;
}
#jeangrey .face {
	position: absolute;
	width: 80px;
	height: 80px;
	background: #F0BEAF;
	border-radius: 100px;
	top: 50px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 3;
}
#jeangrey .hair {
	position: absolute;
	width: 110px;
	height: 130px;
	top: 30px;
	left: 50%;
	transform: translateX(-50%);
	background: #000;
	border-radius: 50% 50% 0 0;
	}
#jeangrey .hair-front {
	position: absolute;
	left: 60px;
	top: 39px;
	width: 65px;
	height: 37px;
	border-radius: 100%;
	background: #000;
	z-index: 20;
}
#jeangrey .neck {
	position: absolute;
	z-index: 2;
	width: 30px;
	height: 50px;
	border-radius: 12px;
	left: 50%;
	transform: translateX(-50%);
	top: 90px;
	background: #F0BEAF;
}
#jeangrey .eyes {
	position: absolute;
	top: 34px;
	width: 10px;
	height: 10px;
	background: #424b54;
	border-radius: 50%;
	left: 25%;
	transform: translateX(-50%);
	animation-name: eyes;
	animation-duration: 8s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-direction: normal;
	animation-iteration-count: infinite;
}
#jeangrey .eyes:after {
	content: "";
	position: absolute;
	width: 10px;
	height: 10px;
	background: #424b54;
	top: 0;
	border-radius: 50%;
	right: -40px;
	animation-name: eyes;
	animation-duration: 8s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-direction: normal;
	animation-iteration-count: infinite;
}
#jeangrey .nose {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 8px;
	height: 14px;
	background: #e48a6f;
	top: 37px;
	border-radius: 4px;
}
#jeangrey .mouth {
	position: absolute;
	background: #e55124;
	width: 30px;
	height: 5px;
	border-radius: 0 0 100px 100px;
	top: 58px;
	left: 50%;
	transform: translateX(-50%);
}
#jeangrey .emblem {
	position: absolute;
	width: 3px;
	height: 0;
	border-style: solid;
	border-width: 20px 20px 0 20px;
	border-color: #FDD835 transparent transparent transparent;
	/* top: 25px; */
	left: 50%;
	transform: translateX(-50%);
}
#jeangrey .fire {
	position: absolute;
	width: 100%;
	height: 100px;
	bottom: -160px;
	left: 0;
	background: #05eca7;
	z-index: 0;
	animation-name: fire;
	animation-duration: 8s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-direction: normal;
	animation-iteration-count: infinite;
}
#jeangrey .flame {
	position: absolute;
	bottom: 100%;
	width: 5%;
	height: 40px;
	border-radius: 10px 10px 0 0;
	background: #05eca7;
}
#jeangrey .flame:after {
	content: "";
	position: absolute;
	left: 100%;
	background: #fff;
	border-radius: 0 0 10px 10px;
	top: 100%;
	width: 100%;
	height: 80%;
}
#jeangrey .flame:nth-child(1) {
	left: 0;
	height: 40px;
}
#jeangrey .flame:nth-child(2) {
	left: 10%;
	height: 20px;
}
#jeangrey .flame:nth-child(3) {
	left: 20%;
	height: 60px;
}
#jeangrey .flame:nth-child(4) {
	left: 30%;
	height: 10px;
}
#jeangrey .flame:nth-child(5) {
	left: 40%;
	height: 30px;
}
#jeangrey .flame:nth-child(6) {
	left: 50%;
	height: 40px;
}
#jeangrey .flame:nth-child(7) {
	left: 60%;
	height: 20px;
}
#jeangrey .flame:nth-child(8) {
	left: 70%;
	height: 30px;
}
#jeangrey .flame:nth-child(9) {
	left: 80%;
	height: 40px;
}
#jeangrey .flame:nth-child(10) {
	left: 90%;
	height: 20px;
}
@keyframes fire {
	0% {
		bottom: -160px;
	}
	20% {
		bottom: -160px;
	}
	30% {
		bottom: -10px;
	}
	40% {
		bottom: 0;
	}
	50% {
		bottom: -10px;
	}
	60% {
		bottom: 0;
	}
	70% {
		bottom: -10px;
	}
	80% {
		bottom: 0;
	}
	100% {
		bottom: -160px;
	}
}
@keyframes eyes { /* 亮眼睛颜色 */
	0% {
		background: #424b54;
	}
	20% {
		background: #424b54;
	}
	40% {
		background: #b1f003;
	}
	60% {
		background: #b1f003;
	}
	70% {
		background: #b1f003;
	}
	100% {
		background: #424b54;
	}
}

#jeangrey .telepathy {
	position: absolute;
	width: 260px;
	height: 260px;
	border: solid 2px #f4f800;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	border-radius: 50%;
}

#jeangrey .telepathy.one {
  	animation: telepath 4s 1s infinite;
}

#jeangrey .telepathy.two {
  	animation: telepath 4s 1.5s infinite;
}

#jeangrey .telepathy.three {
  	animation: telepath 4s 2s infinite;
}

@keyframes telepath {
    0% {
        transform: translate(-50%, -50%) scale(0);
        opacity: 0;
   }
   100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
   }
}